body {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
background-color: #d66161;
}
.form {
width: 300px;
margin: 100px auto; /* center vertically and horizontally */
padding: 30px;
background-color: #ffffff;
border: 1px solid #ddd;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.password{
width: 200px;
}
.email{
width: 250px;
}
.cnfPassword{
width: 200px;
}